<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>

    <% if logged_in? %>
      <form action="<%= user_url(@user.id) %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">

        <input type="submit" value="Delete User">
      </form>

      <form action="<%= edit_user_url(@user.id) %>" method="GET">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <input type="submit" value="Update">
      </form>

      <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">

        <input type="submit" value="Logout">
      </form>

    <% else %>

      <form action="<%= new_session_url %>" method="GET">
        <input type="submit" value="Login">
      </form>

      <form action="<%= new_user_url %>" method="GET">
        <input type="submit" value="Sign up">
      </form>
    <% end %>
  </body>
</html>
